* {
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    position: fixed; /* 1. Define a posição fixa */
    top: 0;          /* 2. Fixa o elemento no topo absoluto da tela */
    left: 0;         /* 3. Garante que ele comece do canto esquerdo */
    z-index: 1000;   /* 4. Faz o header ficar SEMPRE por cima dos outros elementos */
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding-right: 20px;
}

.logoHeader {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

nav {
    display: flex;
    position: relative;
    width: 50%;
    margin: auto;
    gap: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navLinks {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.sourceBar {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px;
}

.navInput {
    width: 80%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.hamburger {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding-right: 50px;
}

.hero {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(/projetoDeSalaExemplo/assets/bannerHero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 30px;
    align-items: start;
    flex-direction: column;
}

.tituloHero {
    color: white;
    font-size: 96px;
    font-weight: bold;
}

.botaoHero {
    width: 280px;
    height: 70px;
    border-radius: 15px;
    background-color: #6F22D4;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    transform: translateX(1px) translateY(1px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botaoHero:hover {
    background-color: blueviolet;
    opacity: 0.3;
    transition: all ease-in-out 0.5s;
    transform: translateX(-1px) translateY(-1px);
}

.top{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#tituloTop10{
    position: absolute;
    font-size: 96px;
    font-weight: bolder;
    text-decoration: underline;
    top: 840px;
    left: 100px;
    z-index: 100;
}

.top10{
    position: relative;
    width: 60%;
    height: 60%;
    margin: auto;
    background-color: aqua;
}
