.container{
    width: 80vw;
    background-color: blanchedalmond;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.cards{
    width: 200px;
    height: 200px;
    background-color: black;
}

h1{
    font-size: 50px;
    color: aqua;
}
@media (min-width: 1024px){
    .container{
        flex-direction: row;
    }
    h1{
        color: red;
        font-size: 60px;
    }
}

/* Tablet */
@media (max-width: 768px){

}

/* Celular */
@media (max-width: 480px){

}
